@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input[type=range] {
        @apply appearance-none bg-transparent;
        accent-color: #fff;
        cursor: pointer;
    }

    input[type=range]::range-track {
        @apply bg-white/25 rounded-full;
    }

    input[type=range]::range-thumb {
        @apply bg-white/100 rounded-full;
    }
}

.no-highlight-btn {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: none !important;
}

.custom-scroll-bar {
    scrollbar-color: #888 #111;
    scrollbar-width: thin;
}

/* postcss-scrollbar doesn't handle track & thumb */
.custom-scroll-bar::-webkit-scrollbar-track,
.custom-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
}

/* Trick to allow value in number inputs to be centered */
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

body {
    font-family: 'Victor Mono', ui-monospace, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
