@tailwind base;
@tailwind components;
@tailwind utilities;

.no-highlight-btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-highlight-btn {
    outline: none !important;
}

body {
    font-family: 'Victor Mono', ui-monospace, monospace;
    font-smoothing: antialiased;
}
